H1 {
 color: navy;
 font-size: 200%;
 font-family: Arial, Verdana, sans-serif;
 text-align: center;
}

P {
 padding-left: 20px;
}
.img {
    text-align:  center;
 }
h3 {
background-color: #C0C0C0;
text-align: center;
}